.form-layout {
    border-radius: 15px;
    width: 500px;
  }
  
  .message-text{
    color:white
  }


  .avatar {
    display: block;
    width: 100%;
    max-width: 800px;
  }

  .search-input input {
    outline: none;
    width: 100%;
    margin: 1px;
    border: none;
    border-radius: 2px;
    padding: 2px;

  }

  .search-form{
    display: flex;
    align-items: center;
    flex-direction: column
  }